<p><span class = "label">Name:</span> <%= @pizza.pretty_name() %></p>
<p><span class = "label">Topping:</span> <%= @pizza.topping %> </p>
<p><span class = "label">Quantity:</span> <%= @pizza.quantity %> </p> 
<p><span class = "label">Order price:</span> £<%= @pizza.total() %> </p>

<form method = "get" action = "/pizzas/<%= @pizza.id %>/edit">
<input type = "submit" value = "Edit Order"/>
</form>

<form method = "post" action = "/pizzas/<%= @pizza.id %>/delete">
<input type = "submit" value = "Delete Order"/>
</form>